.process {
    @include sectionPosition;
    background-color:$color-main-backgroung;
    
    &_main-head {
        @include mainHeadTextPosition;
    }

    &_container {

        width: 75%;
        display: grid;
       // grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
       grid-template-columns:repeat(3, 1fr);
       grid-template-rows:repeat(2);
       grid-gap:3rem;

        @include respond (phone) {
                
            grid-template-columns:auto;
            width: 90%;

            }
       
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            box-shadow: -10px -10px 30px rgba(240, 250, 255, 0.6), 10px 10px 30px rgba(24, 166, 245, 0.2);
            height: 25rem;
            border-radius: 6px;
            padding: 3rem;
            z-index: 1;

            &-head {
                width: 100%;
                height: 6rem;
                display: flex;

                .head-number {
                    width: 6rem;
                    height: 6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                .head-text {
                    height: 6rem;
                    flex:1;
                    display: flex;
                    align-items: center;
                }
            }

            &-text {
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: column;
                justify-content: space-between;

            }
        }
    }
}
